<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="selketjah blogs" />
  <meta name="keywords" content="F#, Fable, books, DDD" />
  <meta name="author" content="selketjah" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  
  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <!-- CSS -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}public/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ site.baseurl }}public/fonts/FiraCode/fira_code.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/clear.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/common.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/carouFredSel.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/sm-clean.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
</head>
