---
layout: default
class: single-post
---

<div class="single-post-wrapper content-1070 center-relative">
    <article class="center-relative">
        <h1 class="entry-title">
            {{ page.title }}
        </h1>
        <div class="post-info content-660">
            <div class="cat-links">
                <ul>
                    <li><a href="#">{{ page.category }}</a></li>
                </ul>
            </div>
            <div class="entry-date published">{{ page.date | date_to_string }}</div>
            <div class="clear"></div>
        </div>

        <div class="entry-content">
            {{ content }}
        </div>
        <div class="clear"></div>
        {% include disqus.html %}
    </article>
</div>
